[general]
token = "{{ token }}"
reticulum_bot_access_key = "{{ reticulum_bot_access_key }}"
reticulum_host = "{{ reticulum_host }}"
hubs_hosts = "{{ hubs_hosts }}"
shard_id = "{{ shard_id }}"
shard_count = "{{ shard_count }}"
verbose = "{{ verbose }}"
sentry_dsn = "{{ sentry_dsn }}"
