# Runs the bots for the smoke test.

NUM_SQUAWKER_PROCESSES={{ num_squawker_processes }}
PROCESS_SPAWN_DELAY={{ process_spawn_delay }}
NUM_SQUAWKERS_PER_PROCESS={{ num_squawkers_per_process }}
CYCLE_TIME={{ cycle_time }}
SPAWN_DELAY={{ spawn_delay }}
JANUS_SERVER={{ janus_server }}
SMOKE_ROOM={{ smoke_room }}
AUDIO_URL={{ audio_url }}
DATA_URL={{ data_url }}

if [ -e "squawkers.pid" ] && kill $(cat squawkers.pid) ; then
  echo "Already running, shutting down."
  sleep 5
fi

killall -9 node
killall -9 chrome

sleep 5
echo "Spawning squawkers..."

echo $$ > squawkers.pid

pushd janus-plugin-sfu/client

npm update
npm install

while true; do
  for i in `seq 1 $NUM_SQUAWKER_PROCESSES`;
    do
      node ./squawkers-cli.js \
        --num $NUM_SQUAWKERS_PER_PROCESS \
        --delay $SPAWN_DELAY \
        --room $SMOKE_ROOM \
        --janus $JANUS_SERVER \
        --audio $AUDIO_URL \
        --data $DATA_URL &
      sleep $PROCESS_SPAWN_DELAY
    done    
  	
  sleep $CYCLE_TIME
  killall -9 node
  	
  sleep 1
  killall -9 chrome
  	
  sleep 2
done
