flyway.user={{ db_user }}
flyway.password={{ db_password }}
flyway.schemas={{ item }}
flyway.locations=filesystem:/sql
flyway.table=flyway_hubs_{{ item }}_schema_history
flyway.url={{ db_url }}
flyway.placeholders.dw_user_password={{ db_dw_user_password }}
