[signature]
key = "{{ farspark_signature_key }}"
salt = "{{ farspark_signature_salt }}"

[security]
allow_origins = "{{ farspark_allow_origins }}"

[server]
read_timeout = 30
write_timeout = 30
download_timeout = 30

[misc]
cache_size = 4294967296
