[general]
realm = "{{ coturn_realm }}"
no_udp = "{{ coturn_no_udp }}"
no_tcp = "{{ coturn_no_tcp }}"
no_dtls = "{{ coturn_no_dtls }}"
max_port = {{ coturn_max_port }}
min_port = {{ coturn_min_port }}
tls_listening_port = {{ coturn_tls_listening_port }}
psql_userdb = "{{ coturn_psql_userdb }}"
use_auth_secret = "true"

{% if coturn_listening_ip is defined %}
listening_ip = "{{ coturn_listening_ip }}"
{% endif %}

{% if coturn_external_ip is defined %}
external_ip = "{{ coturn_external_ip }}"
{% endif %}

{% if coturn_relay_ip is defined %}
relay_ip = "{{ coturn_relay_ip }}"
{% endif %}

{% if coturn_allowed_peer_ip is defined %}
allowed_peer_ip = "{{ coturn_allowed_peer_ip }}"
{% endif %}
