[general]
server_name = "janus"
admin_secret = "{{ janus_admin_secret }}"
api_secret = ""
log_to_syslog = "true"
debug_level = 1

[media]
rtp_port_range = "20000-60000"

[nat]
ice_ignore_list = "eth0:0"
nat_1_1_mapping = "EC2_PUBLIC_IP"

[plugins.sfu]
max_room_size = 36

[transports]
disabled = [
  "libjanus_pfunix.so"
]

[transports.websockets]
ws = "no"
admin_ws = "no"
admin_wss = "no"
wss = "yes"

# This port is forwarded to port 443 via iptables, see terraform config for ASG
wss_port = 8443

[transports.http]
http = "no"
https = "no"
secure_port = 8443
admin_http = "yes"
admin_port = 7000
admin_ip = "EC2_PRIVATE_IP"

[events]
broadcast = "yes"
