[Unit]
Description=The Habitat Supervisor

[Service]
ExecStart=/bin/bash -c "/usr/bin/hab sup run --org mozillareality --ring mr $$(/usr/bin/hab-discover-peer)"

[Install]
WantedBy=default.target
