[Unit]
Description=The Habitat Supervisor

[Service]
ExecStart=/usr/bin/bash -c "/usr/bin/hab sup run --org mozillareality --strategy rolling --ring mr $$(/usr/bin/hab-discover-peer)"

[Install]
WantedBy=default.target
