[phx]
{% if phoenix_port is defined %}
port = {{ phoenix_port }}
{% else %}
port = 4000
{% endif %}
secret_key = "{{ phoenix_secret_key }}"
url_host = "{{ phoenix_url_host }}"
{% if phoenix_url_port is defined %}
url_port = "{{ phoenix_url_port }}"
{% endif %}
static_url_host = "{{ phoenix_static_url_host }}"
{% if phoenix_static_url_port is defined %}
static_url_port = "{{ phoenix_static_url_port }}"
{% endif %}
cors_proxy_url_host = "{{ phoenix_cors_proxy_url_host }}"
{% if phoenix_cors_proxy_url_port is defined %}
cors_proxy_url_port = "{{ phoenix_cors_proxy_url_port }}"
{% endif %}
admin_access_key = "{{ phoenix_admin_access_key }}"

[run]
hostname_dns_suffix = "{{ run_hostname_dns_suffix }}"

[guardian]
secret_key = "{{ guardian_secret_key }}"
{% if guardian_perms_key is defined %}
perms_key = "{{ guardian_perms_key }}"
{% endif %}
{% if guardian_oauth_token_key is defined %}
oauth_token_key = "{{ guardian_oauth_token_key }}"
{% endif %}

[habitat]
http_port = 9631

[erlang]
node_cookie = "{{ erlang_node_cookie }}"

[db]
username = "postgres"
password = "{{ ret_db_password }}"
hostname = "{{ ret_db_hostname }}"
database = "ret_production"
pool_size = 16
ssl = {{ ret_db_ssl }}

[session_lock_db]
username = "postgres"
password = "{{ ret_db_password }}"
hostname = "{{ ret_db_hostname }}"
database = "ret_production"
ssl = {{ ret_db_ssl }}

[aws]
{% if alb_target_group_arn is defined %}
alb_target_group_arn = "{{ alb_target_group_arn }}"
{% endif %}
{% if smoke_alb_target_group_arn is defined %}
smoke_alb_target_group_arn = "{{ smoke_alb_target_group_arn }}"
{% endif %}

[ret]
bot_access_key = "{{ ret_bot_access_key }}"

[discord_client]
{% if discord_client_client_id is defined %}
client_id = "{{ discord_client_client_id }}"
{% endif %}
{% if discord_client_client_secret is defined %}
client_secret = "{{ discord_client_client_secret }}"
{% endif %}
{% if discord_client_bot_token is defined %}
bot_token = "{{ discord_client_bot_token }}"
{% endif %}

[twitter_client]
{% if twitter_client_consumer_key is defined %}
consumer_key = "{{ twitter_client_consumer_key }}"
{% endif %}
{% if twitter_client_consumer_secret is defined %}
consumer_secret = "{{ twitter_client_consumer_secret }}"
{% endif %}
{% if twitter_client_access_token is defined %}
access_token = "{{ twitter_client_access_token }}"
{% endif %}
{% if twitter_client_access_token_secret is defined %}
access_token_secret = "{{ twitter_client_access_token_secret }}"
{% endif %}

[resolver]
{% if giphy_api_key is defined %}
giphy_api_key = "{{ giphy_api_key }}"
{% endif %}
{% if deviantart_client_id is defined %}
deviantart_client_id = "{{ deviantart_client_id }}"
{% endif %}
{% if deviantart_client_secret is defined %}
deviantart_client_secret = "{{ deviantart_client_secret }}"
{% endif %}
{% if imgur_mashape_api_key is defined %}
imgur_mashape_api_key = "{{ imgur_mashape_api_key }}"
{% endif %}
{% if imgur_client_id is defined %}
imgur_client_id = "{{ imgur_client_id }}"
{% endif %}
ytdl_host = "{{ ytdl_host }}"
{% if youtube_api_key is defined %}
youtube_api_key = "{{ youtube_api_key }}"
{% endif %}
{% if google_poly_api_key is defined %}
google_poly_api_key = "{{ google_poly_api_key }}"
{% endif %}
{% if sketchfab_api_key is defined %}
sketchfab_api_key = "{{ sketchfab_api_key }}"
{% endif %}
{% if tenor_api_key is defined %}
tenor_api_key = "{{ tenor_api_key }}"
{% endif %}
{% if bing_search_api_key is defined %}
bing_search_api_key = "{{ bing_search_api_key }}"
{% endif %}
{% if twitch_client_id is defined %}
twitch_client_id = "{{ twitch_client_id }}"
{% endif %}
{% if photomnemonic_endpoint is defined %}
photomnemonic_endpoint = "{{ photomnemonic_endpoint }}"
{% endif %}

[speelycaptor]
{% if speelycaptor_endpoint is defined %}
speelycaptor_endpoint = "{{ speelycaptor_endpoint }}"
{% endif %}

[uploads]
storage_path = "{{ uploads_storage_path }}"
ttl = {{ uploads_ttl }}
host = "{{ uploads_host }}"

[security]
content_security_policy = "{{ content_security_policy }}"
csp = "{{ content_security_policy }}"
cors_origins = "{{ cors_origins }}"

[email]
{% if mailer_server is defined %}
server = "{{ mailer_server }}"
{% endif %}
{% if mailer_port is defined %}
port = {{ mailer_port }}
{% endif %}
{% if mailer_username is defined %}
username = "{{ mailer_username }}"
{% endif %}
{% if mailer_password is defined %}
password = "{{ mailer_password }}"
{% endif %}
{% if mailer_from is defined %}
from = "{{ mailer_from }}"
{% endif %}

[support]
{% if support_slack_webhook_url is defined %}
slack_webhook_url = "{{ support_slack_webhook_url }}"
{% endif %}

[web_push]
subject = "{{ web_push_subject }}"
public_key = "{{ web_push_public_key }}"
private_key = "{{ web_push_private_key }}"

[sentry]
{% if sentry_dsn is defined %}
dsn = "{{ sentry_dsn }}"
{% endif %}

[janus]
service_name = "{{ janus_service_name }}"
admin_secret = "{{ janus_admin_secret }}"
admin_port = {{ janus_admin_port }}

{% if hubs_page_origin is defined %}
[pages]
hubs_page_origin = "{{ hubs_page_origin }}"
spoke_page_origin = "{{ spoke_page_origin }}"
{% if page_origin_insecure_ssl is defined %}
insecure_ssl = "{{ page_origin_insecure_ssl }}"
{% endif %}
{% endif %}

[stats]
node_stats_enabled = true
node_gauges_enabled = true

[health]
check_repo = true

[assets]
docs_path = "/hab/svc/hubs-docs/var/hubs-docs"
